
/* Estilos base para iconos de Google */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
}

/* Suavizado de scroll global */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
